
h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  color: #ffffff;
  text-align: center;
  width: center;
  padding: 30px 20px 20px 30px;
}

p {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 14px;
  line-break: 2.0;
  line-height: 1.0;
  text-align: center;
  padding: 24px 80px 24px 80px;
  color: #ffffff;
  margin: 0px;
}


footer {
  text-align: center;
  padding: 20px 90px 0 90px;
  background-color:transparent;
  color: white;
}

.header {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

/*
 * Base structure
 */

.container-citroen{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.citroen-form-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  justify-content: center;
  display: flex;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .0rem 0;
  font-weight: 100;
  color:#ffffff;
  background-color: transparent;
  border-bottom: .0rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #ffffff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 0rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Footer
 */

footer {
  color:transparent;
  text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/
  
.wrap-input {
  width: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  text-align: center;
  display: flexbox;
  position: center;
  padding: 93px;
  padding-left: 150px;
  min-width: 100px;
  height: 30px;
    
}
  
.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  line-height: 1.0;
  display: flex;
  width: 320px;
  height: 25px;
  background: #ffffff;
  padding: 20 50px 20 50px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-citroen-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.citroen-form-btn {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
    
  min-width: 100px;
  height: 30px;
  border-radius: 1px;
  
  background: #000000;
  position: relative;
  z-index: 1;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
  
.citroen-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
  
.citroen-form-btn:hover {
  background-color: transparent;
}
  
.citroen-form-btn:hover:before {
  opacity: 1;
}
